{{#if nav}}
<nav class="nav">
  <h1>
    <a href="/">Savannah<span class="brand-sep l-inline">&amp;</span>Konstantin</a>
  </h1>

    <b class="nav-toggle nav-item">
        <a data-icon="a" href="#menu">menu</a>
    </b>

    <ul class="nav-list">
      {{#each nav}}
        <li class="nav-item {{#if isActive}}is-nav-item-active{{/if}}">
            <a href="{{url}}"><b>{{label}}</b></a>
        </li>
      {{/each}}
    </ul>
</nav>
{{/if}}
