{{#if nav}}
<nav class="nav" data-gumshoe-header>
  <h1 class="nav-title">
    <a href="/">Savannah &amp; Konstantin</a>
  </h1>

    <b class="nav-toggle nav-item">
        <a data-icon="a" href="#menu">menu</a>
    </b>

    <ul class="nav-list">
      {{#each nav}}
        <li class="nav-item {{#if isActive}}is-nav-item-active{{/if}}">
            <a href="{{url}}"><span>{{label}}</span></a>
        </li>
      {{/each}}
    </ul>

  <!-- <div class="date">August 26, 2017</div> -->
</nav>
{{/if}}
