<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <script src="https://use.typekit.net/eix2gnv.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

<div id="content">

{{{body}}}

</div>

</body>
</html>
