body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #a1a7c3;
  font-weight: normal;
  font-size: 38px;
  letter-spacing: 0.03em;
  text-align: center;
}


/* 480px */
@media screen and (min-width: 30em) {

}

/* 568px */
@media screen and (min-width: 35.5em) {

}
