.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #F9F6F4;
  margin: 0 50px 50px;
  border-radius: 6px;
}
@media screen and (max-width: 35.5em) {
  .mainContent { margin: 0;}
}

.title {
  color: #a1a7c3;
  font-weight: normal;
  font-size: 38px;
  letter-spacing: 0.03em;
  text-align: center;
  display: flex;
  margin: 10px 0;
}


.logo_image {
  max-height: 1200px;
  height: 300px;
}

/* 1.5 dpr */
@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi){
  .logo_image {
    max-height: 600px;
  }
}

/* 568px */
@media screen and (min-width: 35.5em) {
  .logo_image {
    height: 50vh;
    max-width: none;
  }
}
