html {
  font-family: 'neuzeit-grotesk', Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  color: #2D2D51;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  background: #FAF9F8;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
}

p {
  max-width: 910px;
  margin: 1em 2em 1em 0;
}

.centered {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.large-centered-text {
  font-size: 32px;
  max-width: 660px;
  margin: 1em auto;
}

.secondary {
  opacity: 0.4;
}

.mainContent {
  padding: 120px 40px 40px;
}

h1, h2, h3, h4, h5 {
  text-rendering: optimizeLegibility;
}

.map {
    margin: 0 -40px;
    height: 62%;
    min-height: 450px;
    top: 120px;
    left: 0;
    background: #fff;
}


.mapboxgl-marker {
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background: red;
}

.nav {
  background: white;
  /*box-shadow: 0 2px 18px rgba(0,0,0,0.05);*/
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
}

.nav-title {
  font-size: 18px;
  margin: 0;
  margin-left: 30px;
}

.nav-title a {
  background-image: url("/logo@2x.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -999em;
  width: 205px;
  height: 24px;
  margin-bottom: 6px;
  display: inline-block;
  text-decoration: none;
  color: #2D2D51;
}

.nav .nav-toggle {
  display: none;
}

.nav-list {
  flex: 1;
  display: flex;
  margin: 0;
  margin-right: 200px;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
}

.nav-list li {
  display: flex;
  padding: 0 10px;
}

.nav-list a {
  color: #a1a7c3;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  line-height: 64px;
  height: 68px;
  padding: 0 15px;
  border-top: solid 2px transparent;
}

.nav-list a:hover {
  opacity: 0.6;
}

.nav-list .is-nav-item-active a {
  opacity: 1 !important;
  color: #3946C8;
  border-top-color: #3946C8;
}
