.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input[type="email"], input[type="text"] {
  font-size: 20px;
  padding: 0.6em 0.7em 0.7em;
  border: solid 1px #86C8F8;
  background: #F3FBFF;
  border-radius: 4px;
  min-width: 300px;
  transition: all 0.2s ease-out;
}

input[type="email"]:focus,
input[type="text"]:focus {
  border-color: #61B7F5;
  background-color: #E3F4FF;
  outline: none;
}

button {
  border: 0 none;
  background: #3946C8;
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  padding: 0.6em 1em 0.7em;
  cursor: pointer;
}

button:hover {
  background: #4956D8;
}

button.is-disabled {
  background: #a1a7c3;
}

.warning {
  color: red;

}
