{{setPageTitle "RSVP"}}
{{setActiveNav "rsvp"}}
{{addCSS "/css/rsvp.css"}}

<div class="l-contain">
    <h2>We're Now Married!</h2>

    <p>
        Our wedding has happened, so this RSVP section of our website is no longer relevant and has been disabled.
    </p>
</div>
