{{> rsvp/meta}}

<div id="main" role="main">
    <div data-view="notAttending">
        <div class="l-contain centered">
            <h2 class="ann">
                <span class="ann-primary">{{guestsNames html=true}},</span>
                <span class="ann-secondary">We’re Sorry You Won’t Be Attending.</span>
            </h2>
        </div>

        <div class="inv l-contain centered">
            <p>
                You’ll be missed during the celebration. Please contact us if this is a mistake and you will be attending at rsvp@savannah-konstantin.com
            </p>
        </div>
    </div>
</div>
