{{> rsvp/meta}}

<div id="main" role="main">
    <div data-view="rsvp">
        <div class="l-contain centered">
            <h2 class="ann">
                <span class="ann-primary">{{guestsNames html=true}},</span>
                <span class="ann-secondary">will you be attending our wedding?</span>
            </h2>

            <div class="rsvp">
                <button data-attending="true" class="rsvp-yes" data-icon="y">
                    Yes, attending
                </button>
                &nbsp;
                <button data-attending="false" class="rsvp-no is-button-negative" data-icon="n">
                    Regretfully, not attending
                </button>
            </div>
        </div>
    </div>
</div>
