{{setPageTitle "Things to do in Cape Breton"}}
{{setActiveNav "activities"}}
{{addCSS "/css/details.css"}}

<div class="content activities-content">
  <h2 style="max-width: 9em; margin: 0.5em 0 1em">10 Recommended things to see and do in Cape Breton</h2>
  <ol class="activities_list">
    <li>Drive the <a target="_blank" href="https://www.cbisland.com/cabot-trail/">Cabot Trail</a></li>
    <li>Square dance at <a target="_blank" href="https://novascotia.cioc.ca/record/MCI0238">Glencoe Mills</a></li>
    <li>Walk the
      <a target="_blank" href="http://www.novascotia.com/see-do/trails/skyline-trail-cape-breton-highlands-national-park/6176">Skyline Trail</a>
      in Cape Breton Highlands national park
     </li>
    <li>
      Drive around <a target="_blank" href="https://en.wikipedia.org/wiki/Isle_Madame_(Nova_Scotia)">Isle Madame</a>, <br>
      With a walk on <a target="_blank" href="https://www.google.com/maps/place/Sampson+Cove,+NS,+Canada/@45.5015227,-60.9463407,2134m/data=!3m2!1e3!4b1!4m5!3m4!1s0x4b5cd64cab48a88d:0x86872054cea46608!8m2!3d45.5032189!4d-60.9400463">Samson’s Cove</a>
    </li>
    <li>
      Swim at <a target="_blank" href="https://www.google.com/maps/place/Port+Hood+Station+Provincial+Park/@46.009382,-61.5314404,8752m/data=!3m1!1e3!4m8!1m2!2m1!1sPort+Hood+beach!3m4!1s0x4b5da2caa2011837:0xe52654f73c0183c5!8m2!3d45.999665!4d-61.534446">Port Hood beach</a>
    </li>
    <li>
      <a target="_blank" href="http://www.whaleandsealcruise.com/">Whale watching tour</a> out of Pleasant Bay
    </li>
    <li>
      Visit the <a target="_blank" href="http://www.minersmuseum.com/">Miners’ Museum</a> in Glace Bay
    </li>
    <li>
      Visit the <a target="_blank" href="http://visitbaddeck.com/">village of Baddeck</a> and tour the Bras d’Or Lakes
    </li>
    <li>
      Visit <a target="_blank" href="http://www.whatsgoinon.ca/cape-breton-beach-bum-adventures-mabou-mines-beach/#.WR0nZxP5jaY">Mabou Mines beach</a>
    </li>
    <li>
      Visit the <a target="_blank" href="https://www.cheticamp.ca/en/">Acadian village of Chéticamp</a>
    </li>
  </ol>
</div>
