{{setPageTitle "Details"}}
{{setActiveNav "details"}}
{{addCSS "/css/details.css"}}

<nav class="sidebar" data-gumshoe>
  <a href="#" data-scroll class="active">1 – Venue</a>
  <a href="#getting_there" data-scroll>2 – Getting there</a>
  <a href="#accommodation" data-scroll>3 – Accommodation</a>
  <a href="#itinerary" data-scroll>4 – Itinerary</a>
</nav>

<div class="content">
  <h2>Venue</h2>

  <div style="display: flex; flex-direction: row">
    <p style="flex: 3">
      The wedding will be at Savannah&rsquo;s grandparents&rsquo; beautiful oceanside home
      in Cape Breton, Nova Scotia. The nearest town for accommodation is Port
      Hood.
    </p>
    <p style="flex: 2">
      4633 RR#1, Route 19<br>
      Judique, Nova Scotia<br>
      B0E 1P0<br>
      <a href="https://goo.gl/maps/sLw23j1QBq32" target="_blank">Google Maps directions</a>
    </p>
  </div>

  <h2>Getting there</h2>
  <div class="anchor" id="getting_there"></div>
  <p>
    <em>Flying then driving</em> &mdash; Fly to <a href="https://goo.gl/maps/s2jekzLNK3M2" target="_blank">Halifax International Airport</a> (we recommend checking <a href="https://www.google.ca/flights/?gl=ca">Google Flights</a> for the best deals).
    WestJet and <a href="http://gonewleaf.ca/">New Leaf</a> airlines have cheaper flights from Hamilton for Ontario folks. Then, we recommend renting a
    car to make the three hour drive to Port Hood. <b>Rentals fill up, so book ahead</b>. Alternatively you can get a <a href="http://maritimebus.com/" target="_blank">Maritime bus</a> which takes you to Port Hawkesbury.
    There is no local transport beyond that, so get in touch with Savannah or Kosti if you are planning the bus and we can help figure out logistics.
  </p>
  <p>
    <em>Driving only</em> &mdash; Recommended only for those who live nearby or love long road trips Nova Scotia (it takes three days from Ontario).
  </p>

  <h2>Accommodation</h2>
  <div class="anchor" id="accommodation"></div>
  <p>
    The nearest town for accommodation is
    <a href="https://goo.gl/maps/B5WdByTqW1E2" target="_blank">Port Hood</a> which has a few restaurants and a beautiful sandy beach with a boardwalk.
    The wedding location is in Judique, a twenty minute drive to the south. <b>Places fill up fairly quickly, so book ahead!</b>
    Here are our recommendations:
  </p>
  <div class="grid-2">
    <div>
      <b>Hillcrest Hall Country Inn</b> &mdash;
      Eleven rooms ranging from a double to King bed suite (with an additional pullout bed).
      Prices are around $110&ndash;170 per night. Continental breakfast
      is included. We have reserved rooms for our group until May 1st: Please book through their website
      <a href="http://www.hillcresthall.com">hillcresthall.com</a>, and
      add a note that "We are with Savannah's wedding group" in the textbox at the bottom of the booking form.
    </div>
    <div>
      <b>Haus Treuburg</b> &mdash;
      A small german-run hotel. They have three cottages ranging from one to four bedrooms at $159&ndash;210 per night.
      There are also three private rooms from $109&ndash;129 per night.
      Breakfast is not included in the rate. Details are on their <a href="http://www.haustreuburg.com/" target="_blank">website</a>.
    </div>
  </div>
  <div class="grid-2">
    <div>
      <b>Fiddle By The Sea</b> &mdash;
      Four private rooms. Rates are $95&ndash;105 per night; full hot breakfast included.
      Details available on their <a href="http://www.thefiddleandthesea.com/" target="_blank">website</a>.
    </div>
    <div>
      <b>Lighthouse Cottages</b> &mdash;
      Nine two-bedroom cottages with kitchenettes and barbecues. Rates are about $129 per night.
      Details available on their <a href="http://www.lighthouse-cottages.com/" target="_blank">website</a>.
    </div>

  </div>
  <div class="grid-2">
    <div>
      <b>Airbnb.ca, VRBO.com and Homeaway.ca</b> &mdash;
      Airbnb has some good options for
      <a href="https://www.airbnb.ca/s/Judique--NS?guests=1&adults=1&children=0&infants=0&place_id=ChIJbwVZEVumXUsR03RIY4xU62E&ss_id=0yk7p9fs&source=bb&page=1&allow_override%5B%5D=&ne_lat=46.03209409461181&ne_lng=-61.39487151043204&sw_lat=45.81037747180453&sw_lng=-61.59365538494376&zoom=12&search_by_map=true&room_types%5B%5D=Entire%20home%2Fapt&s_tag=r-qjUZlu" target="_blank">full homes</a>
      or
      <a href="https://www.airbnb.ca/s/Judique--NS?guests=1&adults=1&children=0&infants=0&place_id=ChIJbwVZEVumXUsR03RIY4xU62E&ss_id=0yk7p9fs&source=bb&page=1&allow_override%5B%5D=&ne_lat=46.03209409461181&ne_lng=-61.39487151043204&sw_lat=45.81037747180453&sw_lng=-61.59365538494376&zoom=12&search_by_map=true&room_types%5B%5D=Private%20room&s_tag=o8lPNTPS" target="_blank">private rooms</a>
      to rent out. <a href="https://www.vrbo.com/">VRBO</a> and <a href="https://www.homeaway.ca/">Homeaway</a> also have full homes available.
      You can look for homes around Judique and Port Hood. <br />
      <i>(Make sure to set your preferred dates when you open those links)</i>
    </div>
    <div>

    </div>
  </div>

  <h2>Itinerary</h2>
  <div class="anchor" id="itinerary"></div>
  <p>
    <em>Thursday August 24, 9pm to 12am</em> &mdash; You're welcome to join us for some square dancing and live fiddle music at Glencoe Mills Hall. Come at nine to learn the steps! (Admission is $8 cash, and children under 12 are free)
  </p>
  <p>
    <em>Friday August 25, 6pm</em> &mdash; Barbecue and beach fire at the Dave & Camille's property (the wedding venue)
  </p>
  <p>
    <em>Saturday August 26, 3:30pm</em> &mdash; The wedding! We will provide transport to and from Port Hood; details coming soon!
  </p>
  <p>
    <em>Sunday August 26, 12pm to 2pm</em> &mdash; Goodbye lunch.
  </p>

</div>
<!-- <div class="map" data-map="-61.495211,45.839889"></div> -->
