{{setPageTitle "Details"}}
{{setActiveNav "details"}}
{{addCSS "/css/details.css"}}

<nav class="sidebar" data-gumshoe>
  <a href="#location" data-scroll class="active">1 – Location</a>
  <a href="#getting_there" data-scroll>2 – Getting there</a>
  <a href="#accomodation" data-scroll>3 – Accomodation</a>
  <a href="#itinerary" data-scroll>4 – Itinerary</a>
</nav>

<div class="content">
  <h2>Location</h2>
  <div class="anchor" id="location"></div>
  <p>
    The wedding will be at Savannah's grandparents beautiful oceanside home
    in Cape Bretton, Nova Scotia. The nearest town for accomodation is Port
    Hood, and the nearest airport is Halifax Airport, which is a 2.5&ndash;3
    hour drive.
  </p>
  <h2>Getting there</h2>
  <div class="anchor" id="getting_there"></div>
  <p>
    Flying &mdash; Get to <a href="https://goo.gl/maps/s2jekzLNK3M2" target="_blank">Halifax International Airport</a>. You can either book a
    car rental, or get a <a href="http://maritimebus.com/" target="_blank">Maritime bus</a> which takes you to Port Hawkesbury.
    Get in touch with Savannah or Kosti if you are
    planning the bus and we can help figure out logistics.
  </p>
  <p>
    Driving &mdash; You know how this works. Here is a pin for
    the wedding venue location on <a href="https://goo.gl/maps/sLw23j1QBq32" target="_blank">Google Maps</a>.
  </p>

  <h2>Accomodation</h2>
  <div class="anchor" id="accomodation"></div>
  <p>
    The nearest town for accomodation is
    <a href="https://goo.gl/maps/B5WdByTqW1E2" target="_blank">Port Hood</a>.
    Here are some Bed &amp; Breakfasts that we recommend:
  </p>
  <div class="grid-2">
    <div>
      <b>Hillcrest Hall Country Inn</b> &mdash;
      Have eleven rooms ranging from a double to King bed suite (with an additional pullout bed).
      Prices are around <b>$110&ndash;170</b> per night. Continental breakfast
      is included. Best prices seem to be on
      <a href="http://www.booking.com/hotel/ca/hillcrest-hall-country-inn.html" target="_blank">Booking.com</a>.
    </div>
    <div>
      <b>Haus Treuburg</b> &mdash;
      Have a few cottages ranging from one to four bedrooms at <b>$159&ndash;210 per night</b>.
      They also have private rooms from <b>$109&ndash;129 per night</b>.
      Breakfast is not included in the rate. Details are on their <a href="http://www.haustreuburg.com/" target="_blank">website</a>.
    </div>
  </div>
  <div class="grid-2">
    <div>
      <b>Fiddle By The Sea</b> &mdash;
      Have four private rooms. Rates are <b>$95&ndash;105 per night</b>; full hot breakfast included.
      Details available on their <a href="http://www.thefiddleandthesea.com/" target="_blank">website</a>.
    </div>
    <div>
      <b>Airbnb.ca</b> &mdash;
      Airbnb has some good options for
      <a href="https://www.airbnb.ca/s/Judique--NS?guests=1&adults=1&children=0&infants=0&place_id=ChIJbwVZEVumXUsR03RIY4xU62E&ss_id=0yk7p9fs&source=bb&page=1&allow_override%5B%5D=&ne_lat=46.03209409461181&ne_lng=-61.39487151043204&sw_lat=45.81037747180453&sw_lng=-61.59365538494376&zoom=12&search_by_map=true&room_types%5B%5D=Entire%20home%2Fapt&s_tag=r-qjUZlu" target="_blank">full homes</a>
      or
      <a href="https://www.airbnb.ca/s/Judique--NS?guests=1&adults=1&children=0&infants=0&place_id=ChIJbwVZEVumXUsR03RIY4xU62E&ss_id=0yk7p9fs&source=bb&page=1&allow_override%5B%5D=&ne_lat=46.03209409461181&ne_lng=-61.39487151043204&sw_lat=45.81037747180453&sw_lng=-61.59365538494376&zoom=12&search_by_map=true&room_types%5B%5D=Private%20room&s_tag=o8lPNTPS" target="_blank">private rooms</a>
      to rent out.<br />
      <i>(Make sure to set your preferred dates when you open those links)</i>
    </div>
  </div>

  <h2>Itinerary</h2>
  <div class="anchor" id="itinerary"></div>
  <p>
    Nothing to see here... (wedding itinerary coming soon).
  </p>

</div>
<!-- <div class="map" data-map="-61.495211,45.839889"></div> -->
