{{setYUIModule "le-home"}}
{{setDescription "Savannah and Konstantin"}}
{{setActiveNav "home"}}
{{addCSS "/css/home.css"}}

<h1 class="title">
  Savannah and Konstantin are getting married August 26, 2017
</h1>
