{{setYUIModule "le-home"}}
{{setDescription "Savannah and Konstantin"}}
{{setActiveNav "home"}}
{{addCSS "/css/home.css"}}

<h1 class="title">
  <img class="logo_image" src="/wedding-image@2x.png" alt="Savannah and Konstantin are getting married August 26, 2017">
</h1>
