{{setPageTitle "Wedding"}}
{{setActiveNav "wedding"}}
{{setYUIModule "le-wedding"}}
{{addCSS "/css/wedding.css"}}

<div class="centered">
  <p class="large-centered-text">Itinerary for the wedding is coming soon.</p>
</div>
